body {
    background-color: #EDEDED;
}

.personalinfo__h1 {
    border: solid black 3px;
    text-align: center;
}

.mainbody {
    display: flex;
    align-items: flex-start;
}

.leftside {
    border: solid black 2px;
    margin: 10px;
    padding: 5px;
}

.rightside {
    border: solid black 2px;
    margin: 10px;
    padding: 5px;
}

.leftside__h3 {
    text-align: center;
}

.rightside__h3 {
    text-align: center;
}

.mimirogers {
    width: 130px;
    height: 100px;
}

.nicolekidman {
    width: 150px;
    height: 100px;
}